body {
  font-family: sans-serif;
}

body {
  text-align: center;
}

ul {
  text-align: left;
}

#squares {
  height: 200px;
  width: 200px;
  border-style: solid;
  border: 10 px;
  border-color: black;
  margin: 0 auto;
}
